# Cluster level metadata
apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  name: useast1.dev.dappest.co
spec:
  api:
    loadBalancer:
      type: Public

  authorization:
    rbac: {}
  kubelet:
    anonymousAuth: false

  kubeAPIServer:
    authorizationRbacSuperUser: admin

  channel: stable

  cloudLabels:
    ManagedWith: KOPS
    KeepUntil: permanent
    Cluster: useast1.dev.dappest.co
    Stack: Kubernetes

  cloudProvider: aws

  configBase: s3://cluster.dev.dappest.co/useast1.dev.dappest.co

  etcdClusters:
  # etcd needs a quorum of 3 hosts in a master group.
  - etcdMembers:
    - instanceGroup: master-1
      name: "1"
    - instanceGroup: master-2
      name: "2"
    - instanceGroup: master-3
      name: "3"

    name: main
  - etcdMembers:
    - instanceGroup: master-1
      name: "1"
    - instanceGroup: master-2
      name: "2"
    - instanceGroup: master-3
      name: "3"

    name: events

  iam:
    legacy: false

  kubernetesApiAccess:
  - 0.0.0.0/0

  kubernetesVersion: 1.9.6
  masterInternalName: api.internal.useast1.dev.dappest.co
  masterPublicName: api.useast1.dev.dappest.co

  networkID:  vpc-089200c9ebc4f536c
  networkCIDR: 10.0.0.0/16

  networking:
    weave:
      mtu: 8912
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 10.0.0.0/16

  subnets:
  - id: subnet-0061988e484036ab9
    name: private-subnet-1
    type: Private
    zone: us-east-1a
  - id: subnet-06dce319f06334297
    name: private-subnet-2
    type: Private
    zone: us-east-1b
  - id: subnet-034d79e55f361f370
    name: private-subnet-3
    type: Private
    zone: us-east-1c
  - id: subnet-0c9ec8c8ff08b2385
    name: public-subnet-1
    type: Public
    zone: us-east-1a
  - id: subnet-07de874c4b8c5ee7a
    name: public-subnet-2
    type: Public
    zone: us-east-1b
  - id: subnet-0505841cc8bab4c46
    name: public-subnet-3
    type: Public
    zone: us-east-1c


  topology:
    dns:
      type: Public
    masters: private
    nodes: private

  additionalPolicies:
    node: |
      [
        {
          "Effect": "Allow",
          "Action": ["route53:ChangeResourceRecordSets"],
          "Resource": ["arn:aws:route53:::hostedzone/ZCDBQK88LQS5R"]
        },
        {
          "Effect": "Allow",
          "Action": ["route53:ListHostedZones",
                     "route53:ListResourceRecordSets"],
          "Resource": ["*"]
        },
        {
          "Effect": "Allow",
          "Action": ["logs:*"],
          "Resource": ["*"]
        }
      ]
    master: | # see if there's a practical way to restrict k8s to only killing k8s nodes...
      [
        {
          "Effect": "Allow",
          "Action": [
            "autoscaling:DescribeAutoScalingGroups",
            "autoscaling:DescribeAutoScalingInstances",
            "autoscaling:SetDesiredCapacity",
            "autoscaling:TerminateInstanceInAutoScalingGroup"
            ],
            "Resource": "*"
        }
      ]

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: useast1.dev.dappest.co
  name: master-1
spec:
  image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08
  machineType: t2.micro
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-1
  role: Master
  subnets:
  - private-subnet-1
---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: useast1.dev.dappest.co
  name: master-2
spec:
  image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08
  machineType: t2.micro
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-2
  role: Master
  subnets:
  - private-subnet-2
---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: useast1.dev.dappest.co
  name: master-3
spec:
  image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08
  machineType: t2.micro
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-3
  role: Master
  subnets:
  - private-subnet-3

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: useast1.dev.dappest.co
  name: dappest-nodes
spec:
  image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08
  machineType: t2.micro
  maxSize: 2
  minSize: 2
  nodeLabels:
    kops.k8s.io/instancegroup: dappest-node
  cloudLabels:
    k8s.io/cluster-autoscaler/enabled: ""
    kubernetes.io/cluster/useast1.dev.dappest.co: owned
  role: Node
  subnets:
  - private-subnet-1
  - private-subnet-2
  - private-subnet-3

